<link rel="stylesheet" href="~/css/_HeaderStyle.css" />

<header>
    <nav>
        <div>
            <h2>PIZZERIA PORTAMI VIA</h2>
        </div>
        <div class="link-nav">
            <a class="link" href="@Url.Action("Index","Home")">Home</a>
            <a class="link" href="#">Chi siamo</a>
            <a class="link" href="#">Contatti</a>
            <a class="link" href="#">Dove siamo</a>

            <partial name="_LoginPartial" />
        </div>
    </nav>
</header>